*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;

}
/*Paleta de Cores*/
:root{
    --primary:var(#dd6031);
    --text-color:var(#ff312e);
    --color: var(#1a181b) ;
    --segundary: var(#dd6031);
    --terceary-color: var(#006494);
}

/*header*/

.container{
    max-width: 1068px;
    margin: 0 auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ff312e;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu{
    font-size: 24px;
    cursor: pointer;
    color: var(--color);
    display: none;
}

.logo-topo{
   font-size: 20px; 
   font-weight: bolder;
   text-transform: uppercase;
   color: #1a181b;
}

.list-menu{
    display: flex;
    column-gap: 20px;
}

.list-menu a{
    color: var(--segundary);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.list-menu a:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.5s;
}

#search{
    font-size: 20px;
    cursor: pointer;
    color: #1a181b;
}
#search:hover{
    color: #fff;
    transition: 0.5s;
}

.search-topo{
    background-color: #fff;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 5px;
    clip-path: circle(0% at 100% 0%);
}
/* função que faz aparecer*/

.search-topo.active{
    clip-path: circle(144% at 100% 0%);
    transition: 4s;
}

.search-topo input{
    width: 100%;
    padding: 20px;
    outline: none;
    background-color: transparent;
    font-size: 10px;
    color: black;
}

/*Seção principal*/
section{
    padding: 80px 0 20px;
}

.home{
    max-width: 1300px;
    width: 80%;
    min-height: 640px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-image: url("../img/carro-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text{
    position: relative;
    top: -143px;
    right: 0;
    left: 53px;
}

.home-text h1{
    color: #ff312e;
    font-size: 44px;
    padding-top: 30px;
}

.home-text span{
    font-size: 30px;
}

.home-text p{
    color: #ff312e;
    font-size: 21px;
    padding: 10px 0px;
    font-weight: bolder;
}
.home-text .veiculo{
    color: black;
    font-size: 21px;
}
